$body-bg:                   #f8f8f8;
$component-active-bg:         #ffc107;

$pagination-color:                  #000; 
$pagination-hover-color:            #000;
$pagination-active-color:           #000;
$pagination-active-bg:              #ffc107;

$list-group-active-bg:              #ffc107;



